@charset "utf-8";
/* CSS Document */
*{ box-sizing: border-box}
/* 1 hàng trong thiet ke linh hoat, sẽ cho các cột lên cạnh nhau cho đủ 100% */
.container
{
	width: 100%; padding: 15px
}
@media (min-width:768px){ .container{ width: 720px; margin: auto}}
@media (min-width:1000px){ .container{ width: 80%; margin: auto}}
.row{ 
	display: flex; 
	flex-wrap: wrap
}
.col-1{ width: 8.33%}
.col-2{ width: 16.66%}
.col-3{ width: 25%}/*chia 4*/
.col-4{ width: 33.33%}/*chia 3*/
.col-5{ width: 41.66%}
.col-6{ width: 50%}
.col-7{width: 58.33%}
.col-8{width:66.66%}
.col-9{ width: 75%}
.col-10{width: 83.33%}
.col-11{ width: 91.66%}
.col-12{ width: 100%}
[class*="col-"]
{
	padding: 15px;
	/*border: 1px solid red*/
}

/* lenh cho thiet bi trung binh tu 768 toi duoi 100 (md)*/
@media (min-width:768px)
{
.col-md-1{ width: 8.33%}
.col-md-2{ width: 16.66%}
.col-md-3{ width: 25%}/*chia 4*/
.col-md-4{ width: 33.33%}/*chia 3*/
.col-md-5{ width: 41.66%}
.col-md-6{ width: 50%}
.col-md-7{width: 58.33%}
.col-md-8{width:66.66%}
.col-md-9{ width: 75%}
.col-md-10{width: 83.33%}
.col-md-11{ width: 91.66%}
.col-md-12{ width: 100%}
}
/* lenh cho thiet bi lon tu 1000 tro len (lg)*/
@media (min-width:1000px)
{
	.col-lg-1{ width: 8.33%}
	.col-lg-2{ width: 16.66%}
	.col-lg-3{ width: 25%}/*chia 4*/
	.col-lg-4{ width: 33.33%}/*chia 3*/
	.col-lg-5{ width: 41.66%}
	.col-lg-6{ width: 50%}
	.col-lg-7{width: 58.33%}
	.col-lg-8{width:66.66%}
	.col-lg-9{ width: 75%}
	.col-lg-10{width: 83.33%}
	.col-lg-11{ width: 91.66%}
	.col-lg-12{ width: 100%}
}
.img-100{ width: 100%; height: auto}
.img-round-10{ border-radius: 10px}
.img-round-20{ border-radius: 20px}
.img-round-50{ border-radius: 50px}
.img-circle{border-radius: 50%}
/*--------------spacing for web---------------------*/
.p-10{ padding: 10px}
.p-15{ padding: 15px}
.pt-10{ padding-top: 10px}
/* dinh dang flex-----canh day theo chieu doc verticle voi chieu cao cac cot--------*/
.align-items-center{align-items:center}
.align-items-start{align-items:flex-start}
.align-items-end{align-items:flex-end}
/* dinh dang huong trong flex*/
.flex-row{ flex-direction: row}
.flex-row-reverse{ flex-direction: row-reverse}
.flex-col{ flex-direction: column}
.flex-col-reverse{ flex-direction: column-reverse}
/*-- canh đẩy align cac box con flex theo chieu ngang*/
.justify-content-start{ justify-content: flex-start}
.justify-content-center{ justify-content:center}
.justify-content-end{ justify-content: flex-end}
.justify-content-between{ justify-content:space-between}
.justify-content-around{ justify-content:space-around}
header .logo 
{
	color:#EA1655;
	text-decoration: none;
}
header .container
{ 
	position: relative;
}
header .btn-toggle
{
	position: absolute; 
	right: 10px; 
	top: 10px;
	border: 1px solid #ddd;
	padding: 5px 10px;
	cursor: pointer
}
#menu { margin-top: 10px; /*display: none*/}
#menu ul {
	margin: 0;
	padding: 0;
	list-style: none
}
#menu ul li {	position: relative}
#menu ul li a{
	display: block; color: #333;
	text-decoration: none;
	border-bottom: 1px solid #666;	
	padding:6px 10px;
	transition: all 0.2s;
	
}
#menu ul li a:hover{	
	padding-left: 10px;	
	color: #EA1655
}
#menu ul ul
{
	padding-left:  20px;
	
}




@media (min-width:1000px)
{
	header .container
	{ display: flex;
		justify-content: space-between;
		align-items: center
	}
	#menu{ margin-top: 0; display: block !important}
	#menu ul { display: flex}
	header .btn-toggle{ display: none}
	#menu ul li a{ border-bottom: none}
	#menu ul li a:hover{	
	/*padding-top: 0*/
}
	#menu ul li{ position: relative}
	#menu ul ul
	{ 
		display: block;
		position: absolute; left:0;
		width: 250px;
		top: 100%;
		padding: 10px;		
		display: none;
		background:rgba(255,255,255,.8);
		box-shadow: 0 2px 5px #666
		
	}

}
.m-0{ margin: 0}
.mt-0{ margin-top:0 }

